@keyframes bounce {
  0% {
    transform: rotate(-45deg);
  }

  20% {
    transform: rotate(-35deg);
  }

  40% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(-15deg);
  }

  70% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes html-css {
  0% {
    transform: translateY(-6px);
  }

  25% {
    transform: translateY(-4.5px);
  }

  50% {
    transform: translateY(-3px);
  }

  75% {
    transform: translateY(-1.5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes logo {
  0% {
    transform: scaleX(-0.75);
  }
}
